# Manually install PyTorch if requested! (only used for tests)
six~=1.14.0
cython~=0.29.16
graphviz~=0.14
jupyter
matplotlib~=3.2.1
neat~=0.4.1
neat-python
pyglet~=1.5.0
pymunk~=5.6.0
pytest
scikit-learn
scipy~=1.4.1
seaborn~=0.10.0
tqdm~=4.45.0
psutil~=5.7.0

numpy~=1.18.3
torch~=1.5.0
pandas~=1.0.3